<% if review.comments.present? %>
 <% review.comments.each do |review_comment| %>
 <div class="row border border-end pb-3">
   <div class="col-md-2 text-center mt-3">
     <%= image_tag review_comment.user.get_profile_image(40,40), class: "mb-3 rounded-circle" %>
     </div>
   <div class="col-md-5 text-center mt-3">ユーザー名：<%= link_to user_path(review_comment.user_id) do %>
        <%= review_comment.user.name %>
       <% end %>
    </div>

   <div class="col-md-5 text-center mt-3">
       <%= review_comment.comment %>
      <% if review_comment.user == current_user %>
        <%= link_to "削除", review_comment_path(review_comment.review, review_comment), class: "btn btn-sm btn-danger", method: :delete, remote: true %>
      <% end %>
  </div>
</div>
 <% end %>
 <% else %>
  <p class="text-center col-md-12 mt-5 mb-5">まだコメントがありません</p>
<% end %>