<% review.comments.each do |review_comment| %>
   <p><%= image_tag review_comment.user.get_profile_image(50,50) %>
       <%= review_comment.comment %>
      <% if review_comment.user == current_user %>
        <%= link_to "Destroy", review_comment_path(review_comment.review, review_comment), class: "btn btn-sm btn-danger", method: :delete %>
      <% end %>
   </p>
   <p><%= link_to(review.user) do %>
       <%= review_comment.user.name %>
       <% end %>
   </p>

   <%if user_signed_in? %>
    <% if CommentFavorite.find_by(user_id: current_user.id, review_id: review.id, comment_id: comments.id) %>
        <%= link_to review_comment_comment_favorite_path(review, comments, comments.comment_favorites), {class: "like-link", method: :delete } do %>
          <i class="fas fa-grin-squint-tears unlike-btn"></i>
        <% end %>
        <p class="count"><%= comments.comment_favorites.count %></p>
    <% else %>
        <%= link_to review_comment_comment_favorites_path(review, comments), {class: "like-link", method: :post } do %>
          <i class="far fa-grin-squint-tears like-btn"></i>
        <% end %>
        <p class="count"><%= comments.comment_favorites.count %></p>
    <% end %>
  <% else %>
      <i class="fas fa-grin-squint-tears unlike-btn"></i><p class="count"><%= comment.likes.count %></p>
  <% end %>

 <% end %>
