  <div class="card row">
    <%= image_tag 'sauna_top3.jpg', class: "col-sm-12"%>
      <div><%= flash[:notice] %></div>
      <div class="card-img-overlay col-12">
       <%= render 'font'%>
       <p class="text1 col-sm-12">Saunnect</p>
       <div class="row">
        <div class="col-sm-6 pt-2 pb-2" style="background-color:rgba(255,255,254,0.5);">
           <p class="text3 col-sm-12 text-center about_title m-0">サウナーの皆様へ</p>
              <p class="text-center text2 m-0 col-12">
                このサイトは、サウナのレビューサイトになります。<br>
                サウナレビューの閲覧や投稿をするには無料会員登録が必要になります。
              </p>
          </div>
        </div>
   </div>
  </div>
 <h3 class="row-12 mt-5 text-center">
  <strong>新着レビュー</strong>
   </h3>
   <div class="container">
    <div class="row">
    <div class="card col-sm-7 mt-4 mb-5  shadow-lg rounded" style="border:none;">
      <table class="table table-hover table-inverser">
       <thead>
        <tr class="top_title">
         <th>写真</th>
         <th>施設名</th>
         <th>住所</th>
         <th colspan="3"></th>
        </tr>
       </thead>
       <tbody>
        <% @reviews.each do |review| %>
        <tr>
         <td class="col-2 mt-4 mb-5"><%= image_tag review.get_sauna_image(150,150) %><td>
         <% if user_signed_in? %>
           <%= link_to review.name,review_path(review.id), class: 'text-info' %>
         <% else %>
           <%= link_to review.name, new_user_session_path, class: 'text-info' %>
         <% end %>
         <td class="col-4" style= "font-size:14px;">
          <%= review.address %>
         </td>
        </tr>
        <% end %>
      </tbody>
     </table>
         <div style="text-align:right;">
          <% if user_signed_in? %>
           <%= link_to "レビューの一覧を見る＞", reviews_path, class: 'text-dark' %>
          <% else %>
           <%= link_to "レビューの一覧を見る＞", new_user_session_path, class: 'text-dark' %>
          <% end %>
          </div>
   </div>

   <div class="card col-sm-4 ml-sm-5 mt-4 mb-5 shadow-lg" style="border:none;">
      <%= image_tag 'totonoi.jpg', class: "totonoi-img mt-3" %>
      <strong class="s" style="text-align:center; margin-top:50px;">~サウナの入り方~</strong>
      <p class="s" style="text-align:center; margin-top:30px; font-size:15px;">若い世代や女性にも人気が広がりつつあるサウナ。</br>
       サウナに入る前に体と頭をきちんと洗い、まずは水分補給。
       サウナ室にいる時間は10分を目安に、</br>
       その後、お湯で汗を流したら、2分程水風呂につかります。
       水風呂から上がったらゆっくり座って、</br>
       10分程外気浴で休憩を。椅子に深く腰かけてゆっくり目をつぶると、
       体がじんわりと温まり、なんとも言えぬ心地良さに包まれます。
      </p>
      <div class="line-it-button" data-lang="ja" data-type="share-c" data-env="REAL" data-url="https://1a5fe85d143f48e597243aaf5428c2f6.vfs.cloud9.ap-northeast-1.amazonaws.com/" data-color="default" data-size="small" data-count="true" data-ver="3" style="display: none;">
       <script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
      </div>
   </div>

  </div>
</div>

