<%= form_with  url: admin_reviews_path, method: :get  do |f| %>
 <div>
  <p><%= f.label "施設名" %></p>
  <p><%= f.text_field :name, value: @params["name"] %></p>

  <p><%= f.label "住所" %></p>
  <p><%= f.text_field :address , value: @params["address"] %></p>

   <p><%= f.label "金額" %></p>
  <p><%= f.text_field :price_min , value: @params["price_min"]%>円〜<%= f.text_field :price_max, value: @params["price_max"] %>円</P>

  <p>詳細な条件検索</p>
  <p><%= f.label "サウナの広さ" %></p>

  <%= f.radio_button :sauna_area, 0, {checked: @params["sauna_area"] == "0" }%>
  <%= f.label :sauna_area, "狭い", {value: 0, style: "display: inline-block;"} %>
  <%= f.radio_button :sauna_area, 1, {checked: @params["sauna_area"] == "1" }%>
  <%= f.label :sauna_area, "普通", {value: 1, style: "display: inline-block;"} %>
  <%= f.radio_button :sauna_area, 2, {checked: @params["sauna_area"] == "2" }%>
  <%= f.label :sauna_area, "広い", {value: 2, style: "display: inline-block;"} %>


  <p><%= f.label "サウナの温度" %></p>
  <%= f.radio_button :sauna_temperature, 0, {checked: @params["sauna_temperature"] == "0" }%>
  <%= f.label :sauna_temperature, "〜40℃", {value: 0, style: "display: inline-block;"} %>
  <%= f.radio_button :sauna_temperature, 1, {checked: @params["sauna_temperature"] == "1" }%>
  <%= f.label :sauna_temperature, "65℃〜70℃", {value: 1, style: "display: inline-block;"} %>
  <%= f.radio_button :sauna_temperature, 2, {checked: @params["sauna_temperature"] == "2" }%>
  <%= f.label :sauna_temperature, "80℃〜90℃", {value: 2, style: "display: inline-block;"} %>
  <%= f.radio_button :sauna_temperature, 3, {checked: @params["sauna_temperature"] == "3" }%>
  <%= f.label :sauna_temperature, "100℃以上", {value: 3, style: "display: inline-block;"} %>

  <p><%= f.label "ロウリュの種類", class: 'col-md-4' %></p>
  <%= f.radio_button :loryu_type, 0, {checked: @params["loryu_type"] == "0" }%>
  <%= f.label :loryu_type, "オートロウリュ", {value: 0, style: "display: inline-block;"} %>
  <%= f.radio_button :loryu_type, 1, {checked: @params["loryu_type"] == "1" }%>
  <%= f.label :loryu_type, "セルフロウリュ", {value: 1, style: "display: inline-block;"} %>
  <%= f.radio_button :loryu_type, 2, {checked: @params["loryu_type"] == "2" }%>
  <%= f.label :loryu_type, "なし", {value: 2, style: "display: inline-block;"} %>



  <p><%= f.label "アウフグース有無", class: 'col-md-4' %></p>
　<%= f.radio_button :aufguss, 0, {checked: @params["aufguss"] == "0" }%>
  <%= f.label :aufguss, "あり", {value: 0, style: "display: inline-block;"} %>
  <%= f.radio_button :aufguss, 1, {checked: @params["aufguss"] == "1" }%>
  <%= f.label :aufguss, "なし", {value: 1, style: "display: inline-block;"} %>


  <p><%= f.label "水風呂の広さ", class: 'col-md-4' %></p>
  <%= f.radio_button :water_area, 0, {checked: @params["water_area"] == "0" }%>
  <%= f.label :water_area, "狭い", {value: 0, style: "display: inline-block;"} %>
  <%= f.radio_button :water_area, 1, {checked: @params["water_area"] == "1" }%>
  <%= f.label :water_area, "普通", {value: 1, style: "display: inline-block;"} %>
  <%= f.radio_button :water_area, 2, {checked: @params["water_area"] == "2" }%>
  <%= f.label :water_area, "広い", {value: 2, style: "display: inline-block;"} %>


  <p><%= f.label "水風呂の温度", class: 'col-md-4' %></p>
  <%= f.radio_button :water_temperature, 0, {checked: @params["water_temperature"] == "0" }%>
  <%= f.label :water_temperature, "18℃〜24℃", {value: 0, style: "display: inline-block;"} %>
  <%= f.radio_button :water_temperature, 1, {checked: @params["water_temperature"] == "1" }%>
  <%= f.label :water_temperature, "11℃〜17℃", {value: 1, style: "display: inline-block;"} %>
  <%= f.radio_button :water_temperature, 2, {checked: @params["water_temperature"] == "2" }%>
  <%= f.label :water_temperature, "10℃以下", {value: 2, style: "display: inline-block;"} %>


  <%= f.submit "検索" %>
  <% end %>
 </div>