<div><%= flash[:notice] %></div>

<h1 class="x active mx-auto">管理者/レビューリスト︎︎</h1>
 <div class="container">
  <div class="row">
   <div class="col-8">
    <% if @reviews.present? %>
     <% @reviews.each do |review| %>
     <div class="card container shadow rounded-top mb-5 mt-5 p-0" style="width:700px; height:500px;">
       <%= image_tag review.get_sauna_image(700,700), class: "sauna_image" %>
      <div class="card-body row-6">
       <p class="col-12"><%= link_to review.name,admin_review_path(review.id), class: "review_name" %></p>

       <p class="col-12">住所:
       　　<%= review.address %></p>

       <p class="col-12">大人一人当たりの金額:
       　　¥<%= review.price %>円</p>

       [総合評価]
       <p class="col-12 mt-3 ml-4" id="post_raty<%= review.id %>"></p>
        <script>
          $(function(){
           console.log($('#post_raty<%= review.id %>'));
          $('#post_raty<%= review.id %>').empty();
          $('#post_raty<%= review.id %>').raty({
            //星画像の指定などのオプションをここに記述,
           size     : 36,
           starOff:  '<%= asset_path('star-off.png') %>',
           starOn : '<%= asset_path('star-on.png') %>',
           starHalf: '<%= asset_path('star-half.png') %>',
           score: <%= review.evaluation %>,
           readOnly: true,
           half: true,
            });
           })
        </script>
       </div>
       <div class="card-body row-6">
         <p class="text-right mb-5"><%= image_tag review.user.get_profile_image(50,50), class: "rounded-circle" %></br>
         投稿者:<%= review.user.name %>さん</p>
        </div>
     </div>
     <% end %>
    <% else %>
  <!--検索がヒットしなかった場合-->
   <p>検索結果はありません</p>
    <% end %>
     <%= paginate @reviews %>
   </div>
  <%= render 'admin/reviews/search'%>
</div>
</div>