<table class='table table-hover table-inverse'>
  <div><%= flash[:notice] %></div>
  <div>
    <%= search_form_for @q do |f| %>
    <!--name_contは、あいまい検索を指定-->
    <p><%= f.text_field :name_cont %></p>
    <p><%= f.submit "検索" %></p>
    <% end %>
  </div>
  <thead>
    <tr>
      <th>写真</th>
      <th>施設名</th>
      <th>住所</th>
      <th>大人一人当たりの価格</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% if @reviews.present? %>
    <% @reviews.each do |review| %>
     <tr>
       <td><%= image_tag review.get_sauna_image(100,100) %></td>
       <td><%= link_to review.name,admin_review_path(review.id) %></td>
       <td><%= review.address %></td>
       <td><%= review.price %>円</td>
     </tr>
    <% end %>
    <% else %>
  <!--検索がヒットしなかった場合-->
 　　 <p>検索結果はありません</p>
    <% end %>
  </tbody>
</table>
