<h2>詳細レビュー</h2>
<div>
 <div>
   <%=link_to(@review.user)do%>
    <%=image_tag@review.user.get_profile_image(100,100)%><br>
    <%=@review.user.name%>
   <%end%>
 </div>
 <div>
  <%=image_tag@review.get_sauna_image(100,100)%>
  <%=@review.name%>
  <%=@review.address%>
  <%=@review.price%>
  <%=@review.sauna_area_i18n%>
  <%=@review.sauna_temperature_i18n%>
  <%=@review.loryu_type_i18n%>
  <%=@review.aufguss_i18n%>
  <%=@review.water_area_i18n%>
  <%=@review.water_temperature_i18n%>
  <%=@review.chair_count_i18n%>
  <%=@review.sauna_time_i18n%>
  <%=@review.congestion_i18n%>
  <%=@review.body%>
 </div>
</div>
  <%= link_to '編集', edit_admin_review_path(@review), class: "btn btn-sm btn-success" %>
  <%= link_to '削除', admin_review_path(@review), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>

<% @review.comments.each do |review_comment| %>
   <p><%= image_tag review_comment.user.get_profile_image(50,50) %>
       <%= review_comment.comment %>
        <%= link_to "Destroy", review_comment_path(review_comment.review, review_comment), class: "btn btn-sm btn-danger", method: :delete %>
   </p>
   <%#<p><%= render 'public/comment_favorites/comment_favorites', review: @review, comment: @comment %>
   <p><%= link_to admin_user_path(@review.id) do %>
       <%= review_comment.user.name %>
       <% end %>
   </p>
 <% end %>
