 <% if review.errors.any? %>
  <%= review.errors.count %>件のエラーが発生しました
  <ul>
    <% review.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
 <%= form_with model: review, local:true do |f| %>
     <div class=" card container shadow rounded-top mb-5 mt-5">
      <div class="form-group row mt-4">
        <%= f.label "施設名:", class: 'col-md-4 text-right mr-3 about_sub' %>
        <%= f.text_field :name, class: "form-control name col-md-5" %>
      </div>
      <div class="form-group row">
        <%= f.label "住所:", class: 'col-md-4 text-right mr-3 about_sub' %>
        <%= f.text_field :address, placeholder: "◯◯県◯◯市/郡◯◯/区/町/村/番地", class: "form-control name col-md-5" %>
      </div>

      <div class="form-group row">
        <%= f.label "利用料金:",class: 'col-md-4 text-right mr-3 about_sub' %>
        <%= f.text_field :price, placeholder: "大人1名あたり", class: "form-control name col-md-2 text-right" %>円
      </div>

      <div class="form-group row">
        <%= f.label "サウナの広さ:", class: 'col-md-4 text-right mr-3 about_sub' %>
        <%= f.collection_radio_buttons :sauna_area, Review.sauna_areas_i18n, :first , :last, class: "form-control name" %>
      </div>

       <div class="form-group row">
         <%= f.label "サウナの温度:", class: 'col-md-4 text-right mr-3 about_sub'%>
         <%= f.collection_radio_buttons :sauna_temperature, Review.sauna_temperatures_i18n, :first , :last, class: "form-control name" %>
       </div>

       <div class="form-group row">
         <%= f.label "ロウリュの種類:", class: 'col-md-4 text-right mr-3 about_sub' %>
         <%= f.collection_radio_buttons :loryu_type, Review.loryu_types_i18n, :first , :last, class: "form-control name" %>
       </div>

       <div class="form-group row">
         <%= f.label "アウフグース有無:", class: 'col-md-4 text-right mr-3 about_sub' %>
         <%= f.collection_radio_buttons :aufguss, Review.aufgusses_i18n, :first , :last, class: "form-control name" %>
       </div>

        <div class="form-group row">
         <%= f.label "水風呂の広さ:", class: 'col-md-4 text-right mr-3 about_sub' %>
         <%= f.collection_radio_buttons :water_area, Review.water_areas_i18n, :first , :last, class: "form-control name" %>
       </div>

       <div class="form-group row">
         <%= f.label "水風呂の温度:", class: 'col-md-4 text-right mr-3 about_sub' %>
         <%= f.collection_radio_buttons :water_temperature, Review.water_temperatures_i18n, :first , :last, class: "form-control name" %>
       </div>

       <div class="form-group row">
         <%= f.label "チェアの数:", class: 'col-md-4 text-right mr-3 about_sub' %>
         <%= f.collection_radio_buttons :chair_count, Review.chair_counts_i18n, :first , :last, class: "form-control name" %>
       </div>

       <div class="form-group row">
         <%= f.label "行った時間帯:", class: 'col-md-4 text-right mr-3 about_sub' %>
         <%= f.collection_radio_buttons :sauna_time, Review.sauna_times_i18n, :first , :last, class: "form-control name" %>
       </div>

       <div class="form-group row">
         <%= f.label "混雑状況:", class: 'col-md-4 text-right mr-3 about_sub' %>
         <%= f.collection_radio_buttons :congestion, Review.congestions_i18n, :first , :last, class: "form-control name" %>
       </div>

       <div class="form-group row">
         <%= f.label "サウナ写真:", class: "col-md-4 text-right about_sub" %>
         <%= f.file_field :sauna_image, class: "form-control-file user_image col-md-8", accept: 'image/*' %>
        </div>
       </div>
       <div class="form-group row">
         <%= f.label "感想・詳細など", class: "about_sub"%>
         <%= f.text_area :body, size: "5x6", class: "form-control name" %>
        </div>

       <div class="form-group row">

        <p class="about_sub mr-2">[星評価]</p>
        <div id="post_raty">
         <%= f.hidden_field :evaluation, id: :review_star %>
        </div>
        <%#= javascript_include_tag 'jquery.raty.js' %>
        <script>
          // scriptファイルをどのidの部分に配置するかを指定
          // let elem = document.querySelector('#post_raty');
          $(function(){
           console.log($('#post_raty'));
           $('#post_raty').empty();
           $('#post_raty').raty({
           //星画像の指定などのオプションをここに記述,
           size     : 36,
           starOff:  '<%= asset_path('star-off.png') %>',
           starOn : '<%= asset_path('star-on.png') %>',
           starHalf: '<%= asset_path('star-half.png') %>',
           scoreName: 'review[evaluation]',
           half: true,
           });
          })
         </script>
        </div>
        <div>
         <p class="text-right"><%= f.submit "投稿する", class: 'btn btn-info' %></p>
        </div>
     <% end %>
    </div>
  </div>
</div>


