<div><%= flash[:notice] %></div>


<div class ="container">
 <div class="row">
  <div class="col-md-9 card mb-5 mt-5">
   <%=image_tag@review.get_sauna_image(700,700), class: "sauna_image"%>
   <p class="review_name2 ml-4 mt-4 mb-5">︎<%=@review.name%>の詳細レビュー</p>
  <div class="row">
   <div class="card col-md-6 border border-danger shadow rounded m-2" style="background-color:#FAF0E6">
    <h3 class="sauna mt-3">サウナ🔥</h3>
    <div class="row">
     <p class= "s col-5 ml-2 mb-2 mt-3">サウナ広さ:</p>
     <p class="sauna_area col-5 mt-3"><%= @review.sauna_area_i18n %></p>
    </div>

     <div class="row">
     <p class= "s col-4 ml-2 mb-4 mt-3">サウナ温度:</p>
     <p class="sauna_ondo col-6 mt-3"><%=@review.sauna_temperature_i18n%></p>
    </div>

     <div class="row">
     <p class= "s col-4 ml-2 mb-2">ロウリュ:</p>
     <p class="sauna_area col-7"><%=@review.loryu_type_i18n%></p>
    </div>

    <div class="row">
     <p class= "s col-5 ml-2 mb-4 mt-3">アウフグース:</p>
     <p class="sauna_area col-5 mt-3 mb-4"><%=@review.aufguss_i18n%></p>
    </div>
  </div>
  <div class=" card col-md-5 border border-info shadow rounded m-2" style="background-color:#E0FFFF;">
   <h3 class="mizu mt-3">水風呂💧</h3>

    <div class="row">
     <p class= "s col-5 ml-2 mb-2 mt-4 mb-4">水風呂広さ:</p>
     <p class="sauna_area col-5 mt-4 mb-4"><%=@review.water_area_i18n%></p>
    </div>

   <div class="row">
     <p class= "s col-4 ml-2 mb-4 mt-5">水風呂温度:</p>
     <p class="mizu_ondo col-6 mt-5"><%=@review.water_temperature_i18n%></p>
    </div>

   </div>
  </div>

   <div class="row">
     <p class= "col-md-2 text-center">住所:</p>
     <p class=" col-md-10"><%= @review.address %></p>
   </div>

    <div class="row">
     <p class= "col-md-12 mb-4 text-right">料金:
     ￥<%= @review.price %>円</p>
    </div>

  <div class="card container border-dark">
   <div class="row mt-3">
   <p class= "col-sm-2 text-center" style="background-color:#FFE4C4;">椅子の数</p>
   <p class="col-sm-2 text-center"><%=@review.chair_count_i18n%></p>
   <p class= "col-sm-2 text-center" style="background-color:#FFE4C4; font-size:14px;">入浴した時間帯</p>
   <p class= "col-sm-2 text-center"><%=@review.sauna_time_i18n%></p>
   <p class= "col-sm-2 text-center" style="background-color:#FFE4C4;">人の多さ</p>
   <p class= "col-sm-2 text-center"><%=@review.congestion_i18n%></p>
    </div>
  </div>

   <strong class= "ml-5 mb-2 mt-4">[メモ]</strong>
   <div class="card rounded mb-5 mx-auto" style="width:80%;">
    <p class="mb-2 ml-4" style="font-size:15px;"><%=@review.body%></p>
   </div>

  <p class="text-right mr-5">[総合評価]</p>
  <div id="post_raty<%= @review.id %>" class="text-right mr-3"></div>
   <script>
   $(function(){
    console.log($('#post_raty<%= @review.id %>'));
     $('#post_raty<%= @review.id %>').empty();
     $('#post_raty<%= @review.id %>').raty({
      //星画像の指定などのオプションをここに記述,
       size     : 36,
       starOff:  '<%= asset_path('star-off.png') %>',
       starOn : '<%= asset_path('star-on.png') %>',
       starHalf: '<%= asset_path('star-half.png') %>',
       score: <%= @review.evaluation %>,
       readOnly: true,
       half: true,
        });
       })
   </script>
   <p class="mb-2 view_count">閲覧数: <i class="bi bi-eyeglasses"></i>　<%= @review.view_counts.count %></p>
   <p id= "favorite_buttons_<%= @review.id %>">
    <%= render 'public/favorites/favorites', review: @review %></p>

 <div>
  <% if @review.user == current_user %>
    <%= link_to '編集', edit_review_path(@review), class: "btn btn-sm btn-success" %>
    <%= link_to '削除', review_path(@review), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
  <% end %>
 </div>


   <p class="ml-5 mt-5">コメント一覧:</p>
    <div class= "comment_area mx-auto mb-4" style="width:80%">
      <p class="comment_area"><%= render 'public/comments/comment', review: @review %></p>
    </div>
   <p class="ml-5 mt-5">コメントを送る</p>
    <div>
      <%= render 'public/comments/form', review: @review, comment: @comment %>
    </div>

</div>
  <div class=" col-md-2  ml-3 mb-5 mt-5">
  <p>ユーザー情報
   <%=link_to(@review.user)do%>
    <%=image_tag@review.user.get_profile_image(100,100), class: "rounded-circle"%><br>
    <%=@review.user.name%></p>
   <%end%>
     フォロー:　　<%=@review.user.followings.count%>人</br>
     フォロワー:　<%= @review.user.followers.count %>人
  </div>
 </div>
</div>