      <% reviews.each do |review| %>
       <div class="card shadow rounded-top mb-5 mt-5 p-0 timeline">
         <%= image_tag review.get_sauna_image(700,700), class: "sauna_image" %>
         <div class="card-body row">
          <p class="col-12"><%= link_to review.name,review_path(review.id), class: "review_name" %></p>

          <p class="col-12 sub">住所:
         　　<%= review.address %>
          </p>

          <p class="col-12 sub">大人一人当たりの金額:
       　　¥<%= review.price %>円
          </p>

         <p class="col-12 sub">[総合評価]</p>
         <p class="col-6 raty" id="post_raty<%= review.id %>"></p>
         <div class="col-6">
           <p class="text-right mr-2"><%= image_tag review.user.get_profile_image(50,50), class: "rounded-circle" %></br>
             投稿者:<%= review.user.name %>さん
           </p>
         </div>
           <script>
            $(function(){
              console.log($('#post_raty<%= review.id %>'));
            $('#post_raty<%= review.id %>').empty();
            $('#post_raty<%= review.id %>').raty({
              //星画像の指定などのオプションをここに記述,
               size     : 36,
               starOff:  '<%= asset_path('star-off.png') %>',
               starOn : '<%= asset_path('star-on.png') %>',
               starHalf: '<%= asset_path('star-half.png') %>',
               score: <%= review.evaluation %>,
               readOnly: true,
                half: true,
                  });
                 })
           </script>
         </div>
       </div>
        <% end %>
        <%= paginate reviews %>