<div class="user_index">
 <h1 class="text-center pt-5 about_sub">ユーザーリスト</h1>
  <%= search_form_for @q do |f| %>
    <!--name_contは、あいまい検索を指定-->
    <p class="text-center">ユーザー検索：<%= f.text_field :name_cont, class: "mt-5 mb-5" %>
    <%= f.submit "検索", class: "ml-3 mr-3 btn btn-sm btn-info" %>
    </p>
  <% end %>
<!--検索結果-->
 <% if @users.present? %>
  <!--検索がヒットした場合-->
 <div class='container mb-0'>
  <div class="row">
      <% @users.each do |user| %>
       <div class="card shadow rounded-top col-md-12 mb-4">
        <div class="row">
        <div class="col-md-3 text-center"><%= image_tag user.get_profile_image(100,100), class: "rounded-circle" %></div>
        <div class="col-md-3 mt-4 text-center"><%= link_to user.name, user_path(user.id), class: "text-info" %>さん</div>
        <div class="col-md-3 mt-4 text-center">フォロー:　<%=user.followings.count%>人</div>
        <div class="col-md-3 mt-4 mb-2 text-center">フォロワー:　<%= user.followers.count %>人</div>
       </div>
      </div>
      <% end %>
 <% else %>
  <!--検索がヒットしなかった場合-->
  <p>検索結果はありません</p>
 <% end %>
  </div>
 </div>
</div>