<div><%= flash[:notice] %></div>

<div class="container">
 <div class="row">
  <div class="col-sm-4 mr-sm-3 mb-5 pt-5">
   <h4 class=" text-center">ユーザー情報</h4>
    <p class="col-12 text-center mt-3"><%= image_tag @user.get_profile_image(150,150), class: "rounded-circle" %></p>

    <div class="row mt-3">
     <p class="col-6 text-right">ユーザー名:</p>
     <p class="col-6"><%= @user.name%></p>
    </div>

    <%#<p class="mt-3">[フォロー・フォロワー数]</p>#%>
    <div class="row">
      <p class="col-6 text-right">
        <%= link_to user_followings_path(@user) do %>
          <%= @user.followings.count %>
        <% end %>フォロー
      </p>
      <p class="col-6">
        <%= link_to user_followers_path(@user) do %>
          <%= @user.followers.count %>
         <% end %>フォロワー
       </p>
    </div>

    <% if @user.introduction? %>
       <p class="mt-3">自己紹介</p>
      <div class="card">
       <p><%= @user.introduction %></p>
       </div>
    <% end %>

      <div class="row">
       <div class=" col-6 text-center mt-3">
        <% if @user == current_user %>
          <%= link_to edit_user_path(@user), class: "btn btn-sm btn-info btn-block  mb-3" do %>
           編集<i class="fas fa-user-cog"></i>
          <% end %>
        <% else %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_relationships_path(@user.id), method: :delete, class: "btn btn-sm btn-danger mb-3" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user.id), method: :post, class: "btn  btn-sm btn-success mb-3" %>
          <% end %>
        <% end %>
       </div>

         <div class="col-6 text-center mt-3">
           <%# showページで見ているユーザーがログインユーザーでない場合%>
          <% unless @user.id == current_user.id %>
            <%# ログインしているユーザーが@userをフォローしている且つ@userがログインしているユーザーをフォローしている場合%>
          <% if (current_user.following? @user) && (@user.following? current_user) %>
             <%# すでにチャットルームが存在している場合%>
          <% if @isRoom == true %>
             <%= link_to "チャットへ", room_path(@roomId), class:"btn btn-info btn-sm user-show-chat mb-3" %>
              <%#チャットルームが存在しない場合%>
           <% else %>
               <%#　コントローラーにパラメーター￥を送るための記述%>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "チャットを始める", class:"btn btn-info btn-sm user-show-chat"%>
               <% end %>
              <% end %>
             <% end %>
            <% end %>
          </div>
        </div>
      </div>

    <div class="col-sm-7 ml-sm-4 mb-5 mt-5">
      <% if @user == current_user %>
      <div class="container">
       <div class="row">
        <h3 class="about_sub col-6">タイムライン</h3>
        <%= link_to "レビューを投稿する", new_review_path, class: "btn-push col-6 text-center" %>
       </div>
      </div>
      <% if @reviews.present? %>
      <%= render 'public/users/user_review_index', reviews: @reviews %>
       <% else %>
        <p class="card text-center" style="height:300px; padding-top:100px;">
          表示する内容がありません。</br>
          新しく投稿するか、ユーザーをフォローして</br>
          サウナのレビューを見てみよう！
        </p>
       <% end %>
      <% else %>
        <h3 class="about_sub"><%= @user.name %>さんの投稿</h3>
        <% if @reviews.present? %>
        <%= render 'public/users/user_review_index', reviews: @reviews %>
       <% else %>
        <p class="card text-center" style="height:300px; padding-top:100px;">
          <%= @user.name %>さんはまだ投稿していません。
        </p>
       <% end %>
      <% end %>
    </div>
 </div>
</div>
