<header>
  <nav class="navbar navbar-expand-lg head_foot">
    <div class="container" style='height:70px'>

          <!--管理側でのheader-->
           <% if admin_signed_in? %>
             <%= link_to "Sauunect", admin_root_path, class: "a" %>
           <% else %>
             <%= link_to "Sauunect", root_path, class: "a" %>
           <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><!--レスポンシブ対応の展開ボタン-->
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="row">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %> <!--管理者側がログイン中か確認する-->
                  <li><%= link_to "レビュー管理", admin_reviews_path, class: 'nav-link' %></li><!--レビュー一覧へのリンク-->
                  <li><%= link_to "ユーザー管理", admin_users_path, class: 'nav-link' %></li><!--会員一覧へのリンク-->
                  <li><%= link_to "ログアウト", destroy_admin_session_path, class: 'nav-link', method: :delete %></li><!--ログアウトへのリンク-->
              <% end %>
              <!--顧客側ログイン中のheader-->
              <% if user_signed_in? %> <!--顧客側がログイン中か確認する-->
                  <li><%= link_to "マイページ", user_path(current_user), class: 'nav-link' %></li><!--マイページへのリンク-->
                  <li><%= link_to "投稿一覧", reviews_path, class: 'nav-link' %></li><!--レビュー一覧へのリンク-->
                  <li><%= link_to "ユーザー", users_path, class: 'nav-link' %></li><!--ユーザー一覧へのリンク-->
                  <li><%= link_to "ログアウト", destroy_user_session_path, class: 'nav-link', method: :delete %></li><!--ログアウトへのリンク-->
              <!--顧客側のheader-->
              <% else %><!--非ログイン時に表示するheader-->
                <% unless admin_signed_in? %>
                  <li><%= link_to "saunnectとは？", about_path, 'data-turbolinks': false, class: 'nav-link' %></li><!--aboutへのリンク-->
                  <li><%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-white' %></li><!--新規登録へのリンク-->
                  <li><%= link_to "ログイン", new_user_session_path, class: 'nav-link' %></li><!--ログイン画面へのリンク-->
                  <li><%= link_to 'ゲスト', guest_path, method: :post, class: 'nav-link' %></li>
                <% end %>
              <% end %>
            </ul>
    </div>
  </nav>
</header>
