<!DOCTYPE html>
<html>
  <head>
    <title>Sounnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Kiwi+Maru&family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/5-13.css">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
    <%= yield %>
    </main>
    <span id="back">
      <%= link_to "#" do %><%= image_tag 'arrow.jpg', :size => '50x50' %><% end %>
    </span>
    <%= render 'layouts/footer' %>
  </body>
</html>
